*~
ifj12
ifj12-dbg
obj
unitests/*/test
unitests/*/test.o
unitests/*/out
dep
xbiber00.tar.gz
pack/*.*

doc/*.aux
doc/*.dvi
doc/*.log
doc/*.out
doc/*.pdf
doc/*.backup
doc/*.toc
doc/prectab.tex
doc/rectab.tex
